.App {
  font-family: sans-serif;
  text-align: center;
  background-color: darkgrey;
  padding: 30px;
  text-align: center;
}
form {
  padding: auto;
  margin: 30px 30px;
}

li {
  list-style-type: none;
  color: white;
  padding: 8px;
  margin: 10px;
}
.search-form-input {
  font-size: 18px;
  border-radius: 6px;
  width: 20%;
  height: 35px;
}

.search-form-button {
  font-size: 18px;
  margin-left: 5px;
  border-radius: 6px;
  height: 35px;
}

div {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: auto;
}
